@using System.Security.Claims
@using Microsoft.Extensions.Configuration
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - RPG</title>

    <link rel="stylesheet"
          href="https://kendo.cdn.telerik.com/2015.3.1111/styles/kendo.common-nova.min.css"/>

    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2015.3.1111/styles/kendo.nova.min.css"/>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2015.3.1111/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2015.3.1111/js/kendo.aspnetmvc.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>

    <link href="//kendo.cdn.telerik.com/2015.3.1111/styles/kendo.common-material.min.css" rel="stylesheet"/>
    <link href="//kendo.cdn.telerik.com/2015.3.1111/styles/kendo.rtl.min.css" rel="stylesheet"/>
    <link href="//kendo.cdn.telerik.com/2015.3.1111/styles/kendo.material.min.css" rel="stylesheet"/>

    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    

</head>
<body>

    <div id="wrapper">

        

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">Space Corporation Simulator</a>
                </div>
                <!-- Top Menu Items -->
                <ul class="nav navbar-right top-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                        <ul class="dropdown-menu message-dropdown">
                            <li class="message-preview">
                                <a href="#">
                                    <div class="media">
                                        <span class="pull-left">
                                            <img class="media-object" src="http://placehold.it/50x50" alt="">
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <strong>@User.GetUserName()</strong>
                                            </h5>
                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM
                                            </p>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="message-preview">
                                <a href="#">
                                    <div class="media">
                                        <span class="pull-left">
                                            <img class="media-object" src="http://placehold.it/50x50" alt="">
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <strong>@User.GetUserName()</strong>
                                            </h5>
                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM
                                            </p>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="message-preview">
                                <a href="#">
                                    <div class="media">
                                        <span class="pull-left">
                                            <img class="media-object" src="http://placehold.it/50x50" alt="">
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <strong>@User.GetUserName()</strong>
                                            </h5>
                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM
                                            </p>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="message-footer">
                                <a href="#">Read All New Messages</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                        <ul class="dropdown-menu alert-dropdown">
                            <li>
                                <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">View All</a>
                            </li>
                        </ul>
                    </li>
                    @await Html.PartialAsync("_LoginPartial")
                </ul>
                <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav">
                        <li class="active">
                            <a href="#" onclick="showDashboard()" style="font-size: 20px"><i class="fa fa-fw fa-dashboard" style="font-size: 44px"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#" onclick="showResearch()" style="font-size: 20px"><i class="fa fa-fw fa-graduation-cap" style="font-size: 44px; color: #00ccff"></i> R&D</a>
                        </li>
                        <li>
                            <a href="#" style="font-size: 20px"><i class="fa fa-fw fa-usd" style="font-size: 44px; color: #5cb85c"></i> Requisitions</a>
                        </li>
                        <li>
                            <a href="#" style="font-size: 20px"><i class="fa fa-fw fa-users" style="font-size: 44px; color: #9966ff"></i> Human Resources</a>
                        </li>
                        <li>
                            <a href="#" style="font-size: 20px"><i class="fa fa-fw fa-university" style="font-size: 44px; color: #f0ad4e"></i> Regulations</a>
                        </li>
                        <li>
                            <a href="#" style="font-size: 20px"><i class="fa fa-fw fa-file" style="font-size: 44px; color: #663300"></i> Contracts</a>
                        </li>
                        <li>
                            <a href="#" style="font-size: 20px"><i class="fa fa-fw fa-space-shuttle" style="font-size: 44px; color: #ffffff"></i> Expeditions</a>
                        </li>

                        <li>
                            <a href="#" id="btnEndTurn" style="font-size: 20px"><i class="fa fa-fw fa-arrow-circle-right" style="font-size: 44px; color: #d9534f"></i> End Turn <br/><br/> Turns remaining: @if (Model != null && Model.Corporation != null)
                                                                                                                                                                                            {
                                                                                                                                                                                                @Model.Corporation.TurnsRemaining
                                                                                                                                                                                            }<br/><br/> Time until next: 55:55<br/></a>
                            
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
            <div id="page-wrapper">
                @RenderBody()
            </div>
            <!-- /#page-wrapper -->

            <hr/>
            <footer>
                <p>&copy; 2015 - Taylor</p>
            </footer>
      




        @RenderSection("scripts", required: false)
    </div>
    <!-- /#wrapper -->
    
</body>
</html>
